
ClassLibrary1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ClassLibrary1/obj/x86/Debug/ClassLibrary1.csproj.CoreCompileInputs.cache
ClassLibrary1/obj/x86/Debug/ClassLibrary1.csproj.FileListAbsolute.txt
ClassLibrary1/obj/x86/Debug/ClassLibrary1.csprojAssemblyReference.cache
ClassLibrary1/obj/x86/Debug/ClassLibrary1.dll
ClassLibrary1/obj/x86/Debug/ClassLibrary1.pdb
ClassLibrary1/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ClassLibrary1/obj/Debug/ClassLibrary1.csprojAssemblyReference.cache
ClassLibrary1/obj/Debug/ClassLibrary1.csproj.CoreCompileInputs.cache
bin/x64/Debug/WCFHostWPFAppTest.pdb
bin/x64/Debug/WCFHostWPFAppTest.exe.config
bin/x64/Debug/WCFHostWPFAppTest.exe
bin/x64/Debug/ServiceContract.pdb
bin/x64/Debug/ServiceContract.dll.config
bin/x64/Debug/ServiceContract.dll
bin/x64/Debug/MXLabelMemLib.dll
bin/x64/Debug/MITSUBISHI.Component.DotUtlType.dll
bin/x64/Debug/ConsoleApp1.pdb
bin/x64/Debug/ConsoleApp1.exe.config
bin/x64/Debug/ConsoleApp1.exe
bin/x64/Debug/ClassLibrary1.pdb
bin/x64/Debug/ClassLibrary1.dll
bin/x64/Debug/ActUtlTypeLib.dll
bin/x64/Debug/WCFHostWPFAppTest.pdb
bin/x64/Debug/WCFHostWPFAppTest.exe.config
bin/x64/Debug/WCFHostWPFAppTest.exe
bin/x64/Debug/ServiceContract.pdb
bin/x64/Debug/ServiceContract.dll.config
bin/x64/Debug/ServiceContract.dll
bin/x64/Debug/MXLabelMemLib.dll
bin/x64/Debug/MITSUBISHI.Component.DotUtlType.dll
bin/x64/Debug/ConsoleApp1.pdb
bin/x64/Debug/ConsoleApp1.exe.config
bin/x64/Debug/ConsoleApp1.exe
bin/x64/Debug/ClassLibrary1.pdb
bin/x64/Debug/ClassLibrary1.dll
bin/x64/Debug/ActUtlTypeLib.dll
ClassLibrary1/bin/x86/Debug/ClassLibrary1.dll
ClassLibrary1/bin/x86/Debug/ClassLibrary1.pdb
bin/x64/Debug/WCFHostWPFAppTest.exe.config
ConsoleApp1/bin/x86/Debug/ClassLibrary1.dll
ConsoleApp1/bin/x86/Debug/ClassLibrary1.pdb
ConsoleApp1/bin/x86/Debug/ConsoleApp1.exe
ConsoleApp1/bin/x86/Debug/ConsoleApp1.exe.config
ConsoleApp1/bin/x86/Debug/ConsoleApp1.pdb
ConsoleApp1/bin/x86/Debug/ServiceContract.dll
ConsoleApp1/bin/x86/Debug/ServiceContract.dll.config
ConsoleApp1/bin/x86/Debug/ServiceContract.pdb
ConsoleApp1/obj/Debug/ConsoleApp1.csproj.CoreCompileInputs.cache
ConsoleApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConsoleApp1/obj/x64/Debug/ConsoleApp1.csproj.CoreCompileInputs.cache
ConsoleApp1/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConsoleApp1/obj/x86/Debug/ConsoleApp1.csproj.CopyComplete
ConsoleApp1/obj/x86/Debug/ConsoleApp1.csproj.CoreCompileInputs.cache
ConsoleApp1/obj/x86/Debug/ConsoleApp1.csproj.FileListAbsolute.txt
ConsoleApp1/obj/x86/Debug/ConsoleApp1.csprojAssemblyReference.cache
ConsoleApp1/obj/x86/Debug/ConsoleApp1.exe
ConsoleApp1/obj/x86/Debug/ConsoleApp1.pdb
ConsoleApp1/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConsoleApp1/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ConsoleApp1/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ConsoleApp1/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/MainWindow.baml
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.g.i.cs
obj/Debug/WCFHostWPFAppTest.csproj.CoreCompileInputs.cache
obj/Debug/WCFHostWPFAppTest.csproj.FileListAbsolute.txt
obj/Debug/WCFHostWPFAppTest.csproj.GenerateResource.cache
obj/Debug/WCFHostWPFAppTest.csprojAssemblyReference.cache
obj/Debug/WCFHostWPFAppTest.exe
obj/Debug/WCFHostWPFAppTest.g.resources
obj/Debug/WCFHostWPFAppTest.pdb
obj/Debug/WCFHostWPFAppTest.Properties.Resources.resources
obj/Debug/WCFHostWPFAppTest_MarkupCompile.cache
obj/Debug/WCFHostWPFAppTest_MarkupCompile.i.cache
obj/Debug/WCFHostWPFAppTest_MarkupCompile.lref
obj/x64/Debug/App.g.cs
obj/x64/Debug/App.g.i.cs
obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/x64/Debug/MainWindow.baml
obj/x64/Debug/MainWindow.g.cs
obj/x64/Debug/MainWindow.g.i.cs
obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/x64/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/x64/Debug/WCFHostWPFAppTest.csproj.CopyComplete
obj/x64/Debug/WCFHostWPFAppTest.csproj.CoreCompileInputs.cache
obj/x64/Debug/WCFHostWPFAppTest.csproj.FileListAbsolute.txt
obj/x64/Debug/WCFHostWPFAppTest.csproj.GenerateResource.cache
obj/x64/Debug/WCFHostWPFAppTest.csprojAssemblyReference.cache
obj/x64/Debug/WCFHostWPFAppTest.exe
obj/x64/Debug/WCFHostWPFAppTest.g.resources
obj/x64/Debug/WCFHostWPFAppTest.pdb
obj/x64/Debug/WCFHostWPFAppTest.Properties.Resources.resources
obj/x64/Debug/WCFHostWPFAppTest_MarkupCompile.cache
obj/x64/Debug/WCFHostWPFAppTest_MarkupCompile.i.cache
obj/x64/Debug/WCFHostWPFAppTest_MarkupCompile.i.lref
obj/x64/Debug/WCFHostWPFAppTest_MarkupCompile.lref
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/MainWindow.baml
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.g.i.cs
obj/Debug/WCFHostWPFAppTest.csproj.CoreCompileInputs.cache
obj/Debug/WCFHostWPFAppTest.csproj.FileListAbsolute.txt
obj/Debug/WCFHostWPFAppTest.csproj.GenerateResource.cache
obj/Debug/WCFHostWPFAppTest.csprojAssemblyReference.cache
obj/Debug/WCFHostWPFAppTest.exe
obj/Debug/WCFHostWPFAppTest.g.resources
obj/Debug/WCFHostWPFAppTest.pdb
obj/Debug/WCFHostWPFAppTest.Properties.Resources.resources
obj/Debug/WCFHostWPFAppTest_MarkupCompile.cache
obj/Debug/WCFHostWPFAppTest_MarkupCompile.i.cache
obj/Debug/WCFHostWPFAppTest_MarkupCompile.lref
obj/x64/Debug/App.g.cs
obj/x64/Debug/App.g.i.cs
obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/x64/Debug/MainWindow.baml
obj/x64/Debug/MainWindow.g.cs
obj/x64/Debug/MainWindow.g.i.cs
obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/x64/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/x64/Debug/WCFHostWPFAppTest.csproj.CopyComplete
obj/x64/Debug/WCFHostWPFAppTest.csproj.CoreCompileInputs.cache
obj/x64/Debug/WCFHostWPFAppTest.csproj.FileListAbsolute.txt
obj/x64/Debug/WCFHostWPFAppTest.csproj.GenerateResource.cache
obj/x64/Debug/WCFHostWPFAppTest.csprojAssemblyReference.cache
obj/x64/Debug/WCFHostWPFAppTest.exe
obj/x64/Debug/WCFHostWPFAppTest.g.resources
obj/x64/Debug/WCFHostWPFAppTest.pdb
obj/x64/Debug/WCFHostWPFAppTest.Properties.Resources.resources
obj/x64/Debug/WCFHostWPFAppTest_MarkupCompile.cache
obj/x64/Debug/WCFHostWPFAppTest_MarkupCompile.i.cache
obj/x64/Debug/WCFHostWPFAppTest_MarkupCompile.i.lref
obj/x64/Debug/WCFHostWPFAppTest_MarkupCompile.lref
obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/x64/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/x64/Debug/WCFHostWPFAppTest.csproj.CopyComplete
obj/x64/Debug/WCFHostWPFAppTest.csproj.CoreCompileInputs.cache
obj/x64/Debug/WCFHostWPFAppTest.csproj.FileListAbsolute.txt
obj/x64/Debug/WCFHostWPFAppTest.csproj.GenerateResource.cache
obj/x64/Debug/WCFHostWPFAppTest.csprojAssemblyReference.cache
obj/x64/Debug/WCFHostWPFAppTest.exe
obj/x64/Debug/WCFHostWPFAppTest.g.resources
obj/x64/Debug/WCFHostWPFAppTest.pdb
obj/x64/Debug/WCFHostWPFAppTest.Properties.Resources.resources
obj/x64/Debug/WCFHostWPFAppTest_MarkupCompile.cache
obj/x64/Debug/WCFHostWPFAppTest_MarkupCompile.i.cache
obj/x64/Debug/WCFHostWPFAppTest_MarkupCompile.i.lref
obj/x64/Debug/WCFHostWPFAppTest_MarkupCompile.lref
ServiceContract/bin/Debug/ServiceContract.dll
ServiceContract/bin/Debug/ServiceContract.dll.config
ServiceContract/bin/Debug/ServiceContract.pdb
ServiceContract/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ServiceContract/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ServiceContract/obj/Debug/ServiceContract.csproj.CoreCompileInputs.cache
ServiceContract/obj/Debug/ServiceContract.csproj.FileListAbsolute.txt
ServiceContract/obj/Debug/ServiceContract.csprojAssemblyReference.cache
ServiceContract/obj/Debug/ServiceContract.dll
ServiceContract/obj/Debug/ServiceContract.pdb
ServiceContract/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ServiceContract/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ServiceContract/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ServiceContract/obj/x64/Debug/ServiceContract.csproj.CoreCompileInputs.cache
WCFHostWPFAppTest/bin/Debug/WCFHostWPFAppTest.exe
WCFHostWPFAppTest/bin/Debug/WCFHostWPFAppTest.exe.config
WCFHostWPFAppTest/bin/Debug/WCFHostWPFAppTest.pdb
WCFHostWPFAppTest/bin/x64/Debug/ActUtlTypeLib.dll
WCFHostWPFAppTest/bin/x64/Debug/ClassLibrary1.dll
WCFHostWPFAppTest/bin/x64/Debug/ClassLibrary1.pdb
WCFHostWPFAppTest/bin/x64/Debug/ConsoleApp1.exe
WCFHostWPFAppTest/bin/x64/Debug/ConsoleApp1.exe.config
WCFHostWPFAppTest/bin/x64/Debug/ConsoleApp1.pdb
WCFHostWPFAppTest/bin/x64/Debug/MITSUBISHI.Component.DotUtlType.dll
WCFHostWPFAppTest/bin/x64/Debug/MXLabelMemLib.dll
WCFHostWPFAppTest/bin/x64/Debug/ServiceContract.dll
WCFHostWPFAppTest/bin/x64/Debug/ServiceContract.dll.config
WCFHostWPFAppTest/bin/x64/Debug/ServiceContract.pdb
WCFHostWPFAppTest/bin/x64/Debug/WCFHostWPFAppTest.exe
WCFHostWPFAppTest/bin/x64/Debug/WCFHostWPFAppTest.exe.config
WCFHostWPFAppTest/bin/x64/Debug/WCFHostWPFAppTest.pdb
WCFHostWPFAppTest/obj/Debug/App.g.cs
WCFHostWPFAppTest/obj/Debug/App.g.i.cs
WCFHostWPFAppTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WCFHostWPFAppTest/obj/Debug/MainWindow.baml
WCFHostWPFAppTest/obj/Debug/MainWindow.g.cs
WCFHostWPFAppTest/obj/Debug/MainWindow.g.i.cs
WCFHostWPFAppTest/obj/Debug/WCFHostWPFAppTest.csproj.CoreCompileInputs.cache
WCFHostWPFAppTest/obj/Debug/WCFHostWPFAppTest.csproj.FileListAbsolute.txt
WCFHostWPFAppTest/obj/Debug/WCFHostWPFAppTest.csproj.GenerateResource.cache
WCFHostWPFAppTest/obj/Debug/WCFHostWPFAppTest.csprojAssemblyReference.cache
WCFHostWPFAppTest/obj/Debug/WCFHostWPFAppTest.exe
WCFHostWPFAppTest/obj/Debug/WCFHostWPFAppTest.g.resources
WCFHostWPFAppTest/obj/Debug/WCFHostWPFAppTest.pdb
WCFHostWPFAppTest/obj/Debug/WCFHostWPFAppTest.Properties.Resources.resources
WCFHostWPFAppTest/obj/Debug/WCFHostWPFAppTest_MarkupCompile.cache
WCFHostWPFAppTest/obj/Debug/WCFHostWPFAppTest_MarkupCompile.i.cache
WCFHostWPFAppTest/obj/Debug/WCFHostWPFAppTest_MarkupCompile.lref
WCFHostWPFAppTest/obj/x64/Debug/App.g.cs
WCFHostWPFAppTest/obj/x64/Debug/App.g.i.cs
WCFHostWPFAppTest/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WCFHostWPFAppTest/obj/x64/Debug/MainWindow.baml
WCFHostWPFAppTest/obj/x64/Debug/MainWindow.g.cs
WCFHostWPFAppTest/obj/x64/Debug/MainWindow.g.i.cs
WCFHostWPFAppTest/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WCFHostWPFAppTest/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WCFHostWPFAppTest/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WCFHostWPFAppTest/obj/x64/Debug/TempPE/Properties.Resources.Designer.cs.dll
WCFHostWPFAppTest/obj/x64/Debug/WCFHostWPFAppTest.csproj.CopyComplete
WCFHostWPFAppTest/obj/x64/Debug/WCFHostWPFAppTest.csproj.CoreCompileInputs.cache
WCFHostWPFAppTest/obj/x64/Debug/WCFHostWPFAppTest.csproj.FileListAbsolute.txt
WCFHostWPFAppTest/obj/x64/Debug/WCFHostWPFAppTest.csproj.GenerateResource.cache
WCFHostWPFAppTest/obj/x64/Debug/WCFHostWPFAppTest.csprojAssemblyReference.cache
WCFHostWPFAppTest/obj/x64/Debug/WCFHostWPFAppTest.exe
WCFHostWPFAppTest/obj/x64/Debug/WCFHostWPFAppTest.g.resources
WCFHostWPFAppTest/obj/x64/Debug/WCFHostWPFAppTest.pdb
WCFHostWPFAppTest/obj/x64/Debug/WCFHostWPFAppTest.Properties.Resources.resources
WCFHostWPFAppTest/obj/x64/Debug/WCFHostWPFAppTest_MarkupCompile.cache
WCFHostWPFAppTest/obj/x64/Debug/WCFHostWPFAppTest_MarkupCompile.i.cache
WCFHostWPFAppTest/obj/x64/Debug/WCFHostWPFAppTest_MarkupCompile.i.lref
WCFHostWPFAppTest/obj/x64/Debug/WCFHostWPFAppTest_MarkupCompile.lref
ServiceContract/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/WCFHostWPFAppTest/v16/Server/sqlite3/storage.ide
.vs/WCFHostWPFAppTest/v16/Server/sqlite3/db.lock
.vs/WCFHostWPFAppTest/v16/.suo
.vs/WCFHostWPFAppTest/v15/.suo
.vs/WCFHostWPFAppTest/config/applicationhost.config
bin/Debug/WCFHostWPFAppTest.exe
bin/Debug/WCFHostWPFAppTest.exe.config
bin/Debug/WCFHostWPFAppTest.pdb
Bin/MITSUBISHI.Component.DotUtlType.dll
bin/x64/Debug/ActUtlTypeLib.dll
bin/x64/Debug/ClassLibrary1.dll
bin/x64/Debug/ClassLibrary1.pdb
bin/x64/Debug/ConsoleApp1.exe
bin/x64/Debug/ConsoleApp1.exe.config
bin/x64/Debug/ConsoleApp1.pdb
bin/x64/Debug/MITSUBISHI.Component.DotUtlType.dll
bin/x64/Debug/MXLabelMemLib.dll
bin/x64/Debug/ServiceContract.dll
bin/x64/Debug/ServiceContract.dll.config
bin/x64/Debug/ServiceContract.pdb
bin/x64/Debug/WCFHostWPFAppTest.exe
bin/x64/Debug/WCFHostWPFAppTest.exe.config
bin/x64/Debug/WCFHostWPFAppTest.pdb
obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/x64/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/x64/Debug/WCFHostWPFAppTest.csproj.CopyComplete
obj/x64/Debug/WCFHostWPFAppTest.csproj.CoreCompileInputs.cache
obj/x64/Debug/WCFHostWPFAppTest.csproj.FileListAbsolute.txt
obj/x64/Debug/WCFHostWPFAppTest.csproj.GenerateResource.cache
obj/x64/Debug/WCFHostWPFAppTest.csprojAssemblyReference.cache
obj/x64/Debug/WCFHostWPFAppTest.exe
obj/x64/Debug/WCFHostWPFAppTest.g.resources
obj/x64/Debug/WCFHostWPFAppTest.pdb
obj/x64/Debug/WCFHostWPFAppTest.Properties.Resources.resources
obj/x64/Debug/WCFHostWPFAppTest_MarkupCompile.cache
obj/x64/Debug/WCFHostWPFAppTest_MarkupCompile.i.cache
obj/x64/Debug/WCFHostWPFAppTest_MarkupCompile.i.lref
obj/x64/Debug/WCFHostWPFAppTest_MarkupCompile.lref
Bin/ClassLibrary1.dll
Bin/ClassLibrary1.pdb
Bin/ConsoleApp1.exe
Bin/ConsoleApp1.pdb
Bin/ServiceContract.dll
Bin/ServiceContract.dll
Bin/ConsoleApp1.pdb
Bin/ConsoleApp1.exe
Bin/ClassLibrary1.pdb
Bin/ClassLibrary1.dll
Bin/ClassLibrary1.dll
Bin/ClassLibrary1.pdb
Bin/ConsoleApp1.exe
Bin/ConsoleApp1.exe.config
Bin/ConsoleApp1.pdb
Bin/ServiceContract.dll
