<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <!-- サービスとして動作させるクラスをname属性にする -->
      <service name="ConsoleApp1.HelloWorldService"
               behaviorConfiguration ="metadataAndDebugEnabled">
        <host>
          <baseAddresses>
            <!-- 接続先ベースアドレス -->
            <add baseAddress="net.tcp://localhost:8808/service"/>
          </baseAddresses>
        </host>

        <!-- 接続先および接続方法の設定 -->
        <!-- addressに何もいれていないのでベースアドレスと同一となる -->
        <endpoint address="" binding="netTcpBinding" contract="HelloWorldServiceContract.IHelloWorldService" />

      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataAndDebugEnabled">
          <serviceDebug
            includeExceptionDetailInFaults="true" 
          />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup  useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>